{% extends "ninkadata/index.html" %}


{% block content %}
<p class="title">info</p>
This website is a compilation of the information obtained from a scan of the debian4 source files with the ninka license identifier.  More can be learned about the ninka tool by going to <a href="http://github.com/dmgerman/ninka">here</a>.
<br/>
<br/>
On the first page you will select a distribution, once you have a distribution (or have selected "all") you will be given a list of all projects under the distribution.  You are now able to click on a project, this will bring you to a listing of the different versions of that project within the distribution that you selected.
<br/>
<br/>
Now you can click on a version in order to view the project summary, on this screen you will find a summary of the different types of source files, as well as the different licesnes used.  The hashes at the bottom represent the unique license statements within the project (using a hash of the corresponding .goodsent file for each project file).

{% endblock %}
