{% extends "index.html" %}

{% block content %}
<a href="/">Home</a> > <a href="/{{projects.distribution}}/">{{projects.distribution}}</a> > <a href="/{{projects.distribution}}/project/{{projects.id}}/"> {{projects.name}} </a> > <a href="/project/{{projects.id}}/files/1/"> {{projects.version}} </a>
<p class="title">files for project - {{projects.name}} v{{projects.version}}</p>
Export file summary as txt file: <a href="/project/{{projects.id}}/export/">Download</a><br/>
	<table border="1">
	<tr>
		<th colspan="4">Summary</th>
	</tr>
	<tr>
		<th>File Breakdown</th>
		<th>Chart Breakdown</th>
		<th>License Breakdown</th>
	</tr>
	<tr>
		<td>
			.c: {{ccount}}<br/>
			.cpp: {{cppcount}}<br/>
			.h: {{hcount}}<br/>
			.pl: {{plcount}}<br/>
			.py: {{pycount}}<br/>
			.java: {{javacount}}<br/>
			other files: {{othercount}}<br/>
		</td>
		<td>
			<table>
				<tr>
				<td><div id="chart_ext"></div></td>
				<td><div id="chart_lic"></div></td>
				</tr>
			</table>
		</td>
		<td>
		<form name="input" action="." method="get">
		{% for lic in liccount %}
          <input type="checkbox" name="licenses" value="{{lic.id}}"/>{{lic}}: {{lic.count}}<br/>
		{% endfor %}
		<input type="submit" value="Filter"/>
		</form>
		</td>
	</tr>
	</table>
	<br/>
	Total Number of Files: {{filecount}}<br/>
	<br/>
	<table border="1">
	<tr>
		<th>File</th>
		<th>Path</th>
		<th>Licenses</th>
		<th>Ninka Files</th>
		<th>.goodsent hash (md5)</th>
	</tr>
	{% for file in files %}
		<tr>
			<td><a href="http://ag.cs.uvic.ca/static/{{file.directory}}" class="filename">{{ file.name }}</a></td>
			<td> {{file.directory}} </td>
			<td>{% for license in file.licenses.all %}
				{{ license }}
				<br/>
				{% endfor %}
				 </td>
			<td><a href="http://ag.cs.uvic.ca/static/{{file.directory}}.license">.license</a><br/>
			<a href="http://ag.cs.uvic.ca/static/{{file.directory}}.goodsent">.goodsent</a><br/>
			<a href="http://ag.cs.uvic.ca/static/{{file.directory}}.comments">.comments</a></td>
			<td>
			{{file.goodsent_hash}}
			</td>
		</tr>
	{% endfor %}
	</table>
	<!-- Next/Prev Page links -->
	{% if files.object_list and files.paginator.num_pages > 1 %}
	<br/>
    <div class="pagination">
        <span class="step-links">
            {% if files.has_previous %}
                <a href="/project/{{projects.id}}/files/{{ files.previous_page_number }}/?{% for filter1 in filterd %}licenses={{filter1}}&{% endfor %}">Previous Page</a>
            {% endif %}
            <span class="current">
                Page {{files.number }} of {{ files.paginator.num_pages }}
            </span>
            {% if files.has_next %}
                <a href="/project/{{projects.id}}/files/{{ files.next_page_number }}/?{% for filter1 in filterd %}licenses={{filter1}}&{% endfor %}"> Next Page</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
	<br/>
	<table>
	<tr>
		<th>Hash Summaries</th>
		<th>Directories</th>
	</tr>
	<tr>
		<td>
			<form name="hashes" action="." method="get">
			{% for hash,count in hashes %}
				<input type="checkbox" name="hash" value="{{hash}}"/>{{hash}}: {{count}}<br/>
			{% endfor %}
			<input type="submit" value="Filter"/>
			</form>
		</td>
		<td>
			<form name="directories" action="." method="get">
			{% for dir in directories %}
				<input type="radio" name="direct" value="{{dir}}"/>{{dir}} <br/>
			{% endfor %}
			<input type="submit" value="Filter"/>
			</form>
		</td>
	</tr>
	<table>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'License');
        data.addColumn('number', 'Count');
        data.addRows([
		{% for lic in liccount %}
          ['{{lic}}', {{lic.count}}],
		{% endfor %}
		  ['end', 0]
        ]);

        // Set chart options
        var options = {'title':'Licenses Applied to Project',
                       'width':300,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_lic'));
        chart.draw(data, options);
      }
    </script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Extention');
        data.addColumn('number', 'Count');
        data.addRows([
          ['.c', {{ccount}}],
          ['.cpp', {{cppcount}}],
          ['.h', {{hcount}}],
          ['.pl', {{plcount}}],
          ['.py', {{pycount}}],
          ['.java', {{javacount}}],
          ['Other Files', {{othercount}}]
        ]);

        // Set chart options
        var options = {'title':'Files by Extension',
                       'width':300,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_ext'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
