<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "Http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
<title>Ninka Data Collection</title>
<link rel="stylesheet" type="text/css" href="http://ninka.jason-castor.com/static/css/style.css" />
</head>
<body>
<div class="outside">
	<div class="header"><a href="/" class="header">ninka data</a></div>
	<div class="menu"><a href="/info/" class="menu">info</a> - <a href="/ninka/" class="menu">run ninka</a> - <a href="/" class="menu">another item</a></div>
	<div class="content">
		<br/>
        {% block content %}{% endblock %}
	</div>
	<br/>
	<br/>
	<div class="footer">
	</div>
</div>
</body>
</html>
