{% extends "index.html" %}

{% block content %}
<a href="{% url ninkadata.views.mainview %}">Home</a> > <a href="{% url ninkadata.views.summary %}">Summary</a>
<p class="title">information summary</p>
	
	<table>
		<tr>
			<th>Most popular licenses</th>
			<th>File Count</th>
		</tr>
		
		{% for license in poplicense %}
		<tr>
			<td>{{license.name}}</td>
			<td>{{license.count}}</td>
		</tr>
		{% endfor %}
	</table>
	<br/>
	<table>
		<tr>
			<th>Largest Projects</th>
			<th>File Count</th>
		</tr>
		
		{% for project in projects %}
		<tr>
			<td><a href="{% url ninkadata.views.files project.id '1' %}">{{project.name}}</a></td>
			<td>{{project.count}}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
